<div class="review-profile-container">
<div class="reviews">
  <div class="review-profile-top">

        <div class="review-profile-top-image">
           <img class="profile-img"src="{{creator.picture}}"/> 
        </div>

        <div class="review-profile-top-info">
          <h3><a href="/user/{{creator._id}}/profile">{{ creator.name }}</a></h3>
          <strong>rate: {{ rate }}</strong>
          <br>
          <small>{{ date creationDate 'DD/MM/YY'}}</small> 
        </div>

  </div>


    <div class="review-profile-bottom">
        <div class="review-profile-bottom-content">
          <p>{{ content }}</p>
        </div>
    </div>


    </div>
</div>
</div>
</div>