<div class="review-profile-container">

  <div class="review-profile-top">

        <div class="review-profile-top-image">
           <img src="{{creator.picture}}"/> 
        </div>

        <div class="review-profile-top-info">
          <p><a href="/user/{{creator._id}}/profile">{{ creator.username }}</a></p>
          <small>rate: {{ rate }}</small> <br>
          <small>{{ date creationDate 'DD/MM/YY'}}</small> 
        </div>

  </div>


    <div class="review-profile-bottom">
        <div class="review-profile-bottom-content">
          <p class="card-text">{{ content }}</p>
        </div>
    </div>


    </div>
</div>
</div>