<div class="review-profile-container">

  <div class="review-profile-top">

        <div class="review-profile-top-image">
           <img class="profile-img"src="{{creator.picture}}"/> 
        </div>

        <div class="review-profile-top-info">
          <a href="/user/{{creator._id}}/profile"><h3>{{ creator.name }}</h3></a>
          <strong>rate: {{ rate }}</strong>
          <br>
          <small>{{ date creationDate 'DD/MM/YY'}}</small> 
        </div>

  </div>


    <div class="review-profile-bottom">
        <div class="review-profile-bottom-content">
          <p>{{ content }}</p>
        </div>
    </div>

</div>