<div class="container">
<h4>To Read</h4>
<a href="/user/{{ document.id }}/toread">View all books</a>
  <div class="row">
{{#each (limitandreverse document.toRead 6)}}
    <div class="col-sm">
            <a href="/book/{{ googleID }}">
      <div class="card" style="width: 6rem;">
      {{#if imageUrl}}
        <img src="{{ imageUrl }}" class="card-img-top"alt="{{ title }}">
          {{else}}
            <img src="https://dl.acm.org/specs/products/acm/releasedAssets/images/cover-default--book.svg" alt="book without cover image">
      {{/if}}   
       <div class="card-body">
    <p class="card-text">{{title}} by {{author}}<br> </p>
       </div>
      </div>
      </div>
{{/each}}
    </div>
      </a>
  </div>