<div class="container-shelf">
<h2>{{user.username}}'s <strong>Reading</strong> Bookshelf</h2>  <div class="row">
{{#with user}}
{{#each (reverse this.reading)}}
  <div class="row">
  <div class="col-md">
       <a href="/book/{{ googleID }}">
     <form action="/user/{{../_id}}/reading/{{ _id }}/delete" method="POST">
        <button><img class="remove-btn"src="/images/ic_remove.svg"></button>
      </form>
      <div class="card" style="width: 9em;">
      {{#if imageUrl}}
        <img src="{{ imageUrl }}" class="card-img-top"alt="{{ title }}">
          {{else}}
            <img src="https://dl.acm.org/specs/products/acm/releasedAssets/images/cover-default--book.svg" alt="book without cover image">
      {{/if}}    <div class="card-body">
    <p class="card-text">{{title}}</p>
         </a>
       </div>
      </div>
      </div>
{{/each}}
{{/with}}
    </div>
</div>  
