<div class="container">
<h2>To Read</h2>
  <div class="row">
{{#with user}}
{{#each (reverse this.toRead)}}
    <div class="col-sm">
         <a href="/book/{{ googleID }}">
      <div class="card" style="width: 6rem;">
      {{#if imageUrl}}
        <img src="{{ imageUrl }}" class="card-img-top"alt="{{ title }}">
          {{else}}
            <img src="https://dl.acm.org/specs/products/acm/releasedAssets/images/cover-default--book.svg" alt="book without cover image">
      {{/if}}    <div class="card-body">
    <p class="card-text">{{title}} by {{author}}<br> </p>
      </a>
    <form action="/user/{{../_id}}/toread/{{ _id }}/delete" method="POST">
        <button class="remove-book">X</button>
      </form>
       </div>
      </div>
      </div>
{{/each}}
{{/with}}
    </div>
  </div>  