<div class="account-container">
  <div class="account-card">

<h1>Your Account</h1>


<img src="{{user.picture}}" alt="{{user.username}}" />



<form enctype="multipart/form-data" method="POST" action="/user/{{user._id}}/picture">
 
  <label for="input-picture">Picture</label>
  <input type="file" accept="image/*" name="picture" id="input-picture" />  

  <button>Edit</button>
</form>



<div class="account">
<span><strong>Username</strong>: {{user.username}}</span>
<br />
<span><strong>Email</strong>: {{user.email}}</span>
<br>
<span><strong>About</strong>: {{user.about}}</span>
<br>
<span><strong>Location</strong>: {{user.location}}</span>
<br>

<br>
<a href="/user/{{user._id}}/edit">Edit your account</a>

<form method="POST" action="/user/{{user._id}}/delete">
  <button>Delete your account</button>
</form>
</div>

</div>
</div>