<div class="account-container">
  <div class="account-card">
{{!-- <div class="account-card-header">
<h1>Your Account</h1>

</div> --}}
<div class="account-card-middle">

  <div class="left">
<img src="{{user.picture}}" alt="{{user.username}}" />

<form enctype="multipart/form-data" method="POST" action="/user/{{user._id}}/picture">
 
  <label for="input-picture"><small></small>Add a picture</small></label>
  <input class="inputfile"type="file" accept="image/*" name="picture" id="input-picture" />  

  <button>Submit</button>
</form> 

</div>

<div class="right">

<span><strong>Name</strong>: {{user.name}}</span>
<br>
<span><strong>Username</strong>: {{user.username}}</span>
<br />
<span><strong>Email</strong>: {{user.email}}</span>
<br>
<span><strong>About</strong>: {{user.about}}</span>
<br>
<span><strong>Location</strong>: {{user.location}}</span>
</div>


</div>

<div class="account-card-footer">
<button><a href="/user/{{user._id}}/edit">Edit your account</a></butto>

<form method="POST" action="/user/{{user._id}}/delete">
  <button>Delete your account</button>
</form>
</div>

</div>