<div class="profile-container">
  <div class="profile-card">

  <div class="row">
    <div class="col-md-4">
<figure>
<img src="{{document.picture}}" alt="{{document.username}}" />
</figure>
</div>
<div class="col-md-8">
  <h1>{{document.name}}'s Profile</h1>

{{#if userHas.about}}
<span><strong>About</strong>: {{document.about}}</span>
<br>
{{/if}}
{{#if userHas.location}}
<span><strong>Location</strong>: {{document.location}}</span>
<br>
{{/if}}
<span><strong>Joined in</strong>: {{date document.creationDate "MM/YYYY"}}</span>
<br>
</div>
</div>
</div>

<div class="shelves-container">

{{> readingshelfprofile}}
{{> toreadshelfprofile}}
{{> readshelfprofile}}

</div>

<footer class="profile-footer">
  <h2>{{document.name}}'s Reviews</h2>
    <div class="reviews-container">
      {{#if userHas.booksReviews}}
        {{#each reviews}}
          {{> reviewprofile}}
        {{/each}}
      {{else}}
      <p style="font-size: 1.2em; font-weight: lighter;">Don't be shy, let's add your first review!<br>
      <a href="/">Find a book here.</a></p>
      {{/if}}
      </div>
</footer>
</div>