<div class="profile-container">
  <div class="profile-card">

  <div class="row">
    <div class="col-md-4">
<figure>
<img src="{{document.picture}}" alt="{{document.username}}" />
</figure>
</div>
<div class="col-md-8">
  <h1>{{document.username}}'s Profile</h1>


<p><strong>About</strong>: {{document.about}}</p>
<br>
<span><strong>Location</strong>: {{document.location}}</span>
<br>
</div>
</div>
</div>

<div class="shelves-container">

{{> readingshelfprofile}}
{{> toreadshelfprofile}}
{{> readshelfprofile}}

</div>

<footer class="profile-footer">
  <h2>{{document.username}}'s Reviews</h2>
    <div class="reviews-container">
{{#each reviews}}

{{> reviewprofile}}

{{/each}}
</div>
</footer>
</div>