<div class="container">
  <div class="profile-card">

  <div class="row">
    <div class="col-md-4">
<figure>
<img src="{{document.picture}}" alt="{{document.username}}" />
</figure>
</div>
<div class="col-md-8">
  <h1>{{document.username}}'s Profile</h1>


<span><strong>About</strong>: {{document.about}}</span>
<br>
<span><strong>Location</strong>: {{document.location}}</span>
<br>
</div>
</div>
</div>

<div class="shelves-conatainer">

{{> readingshelfprofile}}
{{> toreadshelfprofile}}
{{> readshelfprofile}}

<footer class="profile-footer">
  <h2>{{document.username}}'s Reviews</h2>
{{#each reviews}}

{{> reviewprofile}}

{{/each}}

</footer>
</div>
</div>