<nav class="navbar">
      <a href="/"><img class="img-logo" src="/images/books-logo-white.svg" alt="books and tea logo"></a>
      
      {{#if user}}
      
         <a href="/user/{{ user._id }}/profile"><img class="img-avatar" src="{{user.picture}}" alt="{{user.username}}"/></a>
        <a href="/user/{{ user._id }}/account"><img src="/images/ic-settings.svg" alt="Account Settings" /></a>
        <form action="/authentication/sign-out" method="POST">
          <button><img class="navbar-img"src="/images/ic-logout.svg" alt="Sign Out"/></button>
        </form>
        {{else}}
        <a class="navbar-btn" href="/authentication/sign-in">Sign In</a>
        <a class="navbar-btn" href="/authentication/sign-up">Sign Up</a>
      {{/if}}
    </nav>
