<div class="review">
<img src="{{creator.picture}}"/>
<p><a href="/user/{{creator._id}}/profile">{{ creator.username }}</a></p>
<small>{{ date creationDate 'DD/MM/YYYY'}}</small> 
<p>rate: {{ rate }}</p>
<p>{{ content }}</p>
</div>