<div class="container-single">

<div class="container-single-book" style="max-width: 900px;">
  <div class="row no-gutters">
      {{#with data}}
        <div class="col-md-3">
          {{#if volumeInfo.imageLinks.thumbnail}}
                <img src="{{ volumeInfo.imageLinks.thumbnail }}" alt="{{ volumeInfo.title }}">
          {{else}}
                  <img src="https://dl.acm.org/specs/products/acm/releasedAssets/images/cover-default--book.svg" alt="book without cover image">
          {{/if}}
       
          </div>
          <div class="col-md-9">
          <div class="card-body-white">
              <h1>{{ volumeInfo.title }} </h1>
                 <h4>{{ volumeInfo.subtitle }}</h4>
              {{#each volumeInfo.authors}}
                <ul>
                <li>{{ this }}</li>
                </ul>
              {{/each}}
              <p>{{ volumeInfo.description }}</p>
                     <p >Year: {{ date volumeInfo.publishedDate 'YYYY'}}</p>
              <p> Language: {{ volumeInfo.language }}</p>  
              Categories:
              {{#each volumeInfo.categories}}
                <ul>
                <li>{{ this }}</li>
                </ul>
              {{/each}}


            
        
            </div>
          </div>
    {{/with}}
<div class="add-bookshelf">
    {{#if user}}
          <form method="POST">
            <label for="bookshelf">Add to your bookshelf:</label><br>
            <select name="bookshelf" id="bookshelf">
                <option value="toRead">To Read</option>
                <option value="reading">Reading</option>
                <option value="read">Read</option>
              </select>
              <button>Add</button>
          </form>
    {{/if}}

</div>

  </div>


</div>
 

<div class="single-view">


<footer class="profile-footer">

<h2>Users' Reviews</h2>

{{#each reviews}}
{{>review}}
{{/each}}



{{#if user}}
<p style="text-align: center; padding-top: 20px">Leave a review for this book</p>


  {{#with data}}
  {{>reviewform}}
  {{/with}}
{{else}}
<p><a href="/authentication/sign-in">Sign In</a> or <a href="/authentication/sign-up">Create an account </a> to review this book.</p>
{{/if}}  


</footer>

</div>
</div>
