<div class="container">
<h1>Search results</h1>
  <div class="row">
{{#each data}}
    <div class="col-sm">
  <a href="/book/{{ id }}">
      <div class="card" style="width: 6rem;">
        {{#if volumeInfo.imageLinks.thumbnail}}
          <img src="{{ volumeInfo.imageLinks.thumbnail }}" alt="{{ volumeInfo.title }}">
          {{else}}
            <img src="https://dl.acm.org/specs/products/acm/releasedAssets/images/cover-default--book.svg" alt="book without cover image">
      {{/if}}
         
          <div class="card-body">
          <p class="card-text">{{ volumeInfo.title }} || by {{ volumeInfo.authors.[0] }}</p>
          </div>
          </div>
    </a>
      </div>
{{/each}}
    </div>
</div>
{{!-- 
<footer>
  <p>Pages:</p> <a href="/search">1</a> | <a href="/search/2">2</a> | <a href="/search/3">3</a>
</footer> --}}

