<h1>Search results</h1>


{{#each data}}

<a href="/book/{{ id }}">
{{ volumeInfo.title }} || by {{ volumeInfo.authors.[0] }}
<img src="{{ volumeInfo.imageLinks.thumbnail }}" alt="{{ volumeInfo.title }}">
</a>
<br>


{{/each}}
