

<secion class="container-fluid">
  <div class="row">
      {{#with data}}
 <articles class="col-2">
    {{#if volumeInfo.imageLinks.thumbnail}}
          <img src="{{ volumeInfo.imageLinks.thumbnail }}" alt="{{ volumeInfo.title }}">
          {{else}}
            <img src="https://dl.acm.org/specs/products/acm/releasedAssets/images/cover-default--book.svg" alt="book without cover image">
          {{/if}}
  {{#each volumeInfo.authors}}
    <ul>
    <li>{{ this }}</li>
    </ul>
    {{/each}}
    <p>{{ date volumeInfo.publishedDate 'YYYY'}}</p>
    <p>Language: {{ volumeInfo.language }}</p>
</articles>

  <articles class="col-10">
    <h4>{{ volumeInfo.title }}</h4>
    <h6>{{ volumeInfo.subtitle }}</h6>
    <p>{{ volumeInfo.description }}</p>
    {{#each volumeInfo.categories}}
    <ul>
    <li>{{ this }}</li>
    </ul>
    {{/each}}
    <br>
</articles>

 

  

{{/with}}

</div>
</section>

  {{#if user}}
<section>
<form method="POST">
<label for="bookshelf">Add to your bookshelf</label>
<select name="bookshelf" id="bookshelf">
    <option value="toRead">To Read</option>
    <option value="reading">Reading</option>
    <option value="read">Read</option>
  </select>
  <button>Add</button>
</form>

{{/if}}
{{!-- <form method="POST">
<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Add to bookshelf
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
    <button class="dropdown-item" type="button" value="toread">To Read</button>
    <button class="dropdown-item" type="button" value="reading">Reading</button>
    <button class="dropdown-item" type="button" value="read">Read</button>
  </div>
</div>
</form> --}}



</section>


<br>
<footer>
<h2>Users' Reviews</h2>

{{#each reviews}}
{{>review}}
{{/each}}

{{#if user}}
  {{#with data}}
  {{>reviewform}}
  {{/with}}
{{else}}
<p><a href="/authentication/sign-in">Sign In</a> or <a href="/authentication/sign-up">Create an account </a> to review this book.</p>
<a href="/"
{{/if}}  
</footer>

