<h1>Your Account</h1>
<span><strong>Username</strong>: {{user.username}}</span>
<br />
<span><strong>Email</strong>: {{user.email}}</span>
<br>
<span><strong>About</strong>: {{user.about}}</span>
<br>
<span><strong>Location</strong>: {{user.location}}</span>
<br>
<a href="/user/{{user._id}}/edit">Edit your account</a>