<h1>{{document.username}}'s Profile</h1>
<figure>
<img src="{{document.picture}}" alt="{{document.username}}" />
</figure>
<span><strong>About</strong>: {{document.about}}</span>
<br>
<span><strong>Location</strong>: {{document.location}}</span>
<br>

<div class="container">
  <h2>Read</h2>
  <a href="/user/{{ document.id }}/read">View all books</a>
  <div class="row">
    {{#each document.read}}
      <div class="col-sm">
        <a href="/book/{{ googleID }}">
        <div class="card" style="width: 6rem;">
          <img src="{{imageUrl}}" class="card-img-top"alt="{{title}}">
          <div class="card-body">
          <p class="card-text">{{title}} by {{author}}<br></p>
          </div>
        </div>
        </a>
      </div>
    {{/each}}
  </div>
</div>  



<div class="container">
<h2>To Read</h2>
<a href="/user/{{ document.id }}/toread">View all books</a>
  <div class="row">
{{#each document.toRead}}
    <div class="col-sm">
            <a href="/book/{{ googleID }}">
      <div class="card" style="width: 6rem;">
        <img src="{{imageUrl}}" class="card-img-top"alt="{{title}}">
    <div class="card-body">
    <p class="card-text">{{title}} by {{author}}<br> </p>
       </div>
      </div>
      </div>
{{/each}}
    </div>
      </a>
  </div>  

<div class="container">
<h2>Reading</h2>
<a href="/user/{{ document.id }}/reading">View all books</a>
  <div class="row">
{{#each document.reading}}
    <div class="col-sm">
    <a href="/book/{{ googleID }}">
      <div class="card" style="width: 6rem;">
        <img src="{{imageUrl}}" class="card-img-top"alt="{{title}}">
    <div class="card-body">
    <p class="card-text">{{title}} by {{author}}<br> </p>
       </div>
      </div>
      </div>
{{/each}}
    </div>
    </a>
  </div>  
