<h1>{{document.username}}'s Profile</h1>
<figure>
<img src="{{document.picture}}" alt="{{document.username}}" />
</figure>
<span><strong>About</strong>: {{document.about}}</span>
<br>
<span><strong>Location</strong>: {{document.location}}</span>
<br>

{{> readingshelfprofile}}
{{> toreadshelfprofile}}
{{> readshelfprofile}}

<footer class="profile-footer">
  <h2>{{document.username}}'s Reviews</h2>
{{#each reviews}}

{{> reviewprofile}}

{{/each}}

</footer>