<h1>{{user.username}}'s Profile</h1>
<figure>
<img src="{{user.picture}}" alt="{{user.username}}" />
</figure>
<span><strong>About</strong>: {{user.about}}</span>
<br>
<span><strong>Location</strong>: {{user.location}}</span>
<br>

<div class="container">
<h2>Read</h2>
<a href="/user/{{ user.id }}/read">View all books</a>
  <div class="row">
{{#each user.read}}
    <div class="col-sm">
      <a href="/book/{{ googleID }}">
      <div class="card" style="width: 6rem;">
        <img src="{{imageUrl}}" class="card-img-top"alt="{{title}}">
    <div class="card-body">
    <p class="card-text">{{title}} by {{author}}<br> </p>
       </div>
      </div>
      </a>
      </div>


{{/each}}
    </div>
  </div>  



<div class="container">
<h2>To Read</h2>
<a href="/user/{{ user.id }}/toread">View all books</a>
  <div class="row">
{{#each document.toRead}}
    <div class="col-sm">
            <a href="/book/{{ googleID }}">
      <div class="card" style="width: 6rem;">
        <img src="{{imageUrl}}" class="card-img-top"alt="{{title}}">
    <div class="card-body">
    <p class="card-text">{{title}} by {{author}}<br> </p>
       </div>
      </div>
      </div>
{{/each}}
    </div>
          </a>
  </div>  

<div class="container">
<h2>Reading</h2>
<a href="/user/{{ user.id }}/reading">View all books</a>
  <div class="row">
{{#each document.reading}}
    <div class="col-sm">
    <a href="/book/{{ googleID }}">
      <div class="card" style="width: 6rem;">
        <img src="{{imageUrl}}" class="card-img-top"alt="{{title}}">
    <div class="card-body">
    <p class="card-text">{{title}} by {{author}}<br> </p>
       </div>
      </div>
      </div>
{{/each}}
    </div>
    </a>
  </div>  
